pom.xml
pom.xml.asc
*.class
*.csv
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
/resources/*/*
.DS_Store
.env
neo4j/scripts/creds.sh
neo4j/