{
  :paths ["src" "resources"]
  :version "0.1.0"
  :deps {
    org.clojure/clojure {:mvn/version "1.11.1"}
    org.clojure/data.xml {:mvn/version "0.0.8"}
    org.clojure/data.csv {:mvn/version "1.0.1"}
    org.clojure/data.zip {:mvn/version "1.0.0"}
    clj-http/clj-http {:mvn/version "3.12.3"}
    camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
    org.clojure/tools.logging {:mvn/version "1.2.4"}
  }
  :aliases {
    :umls {
      :exec-fn knowledge-graph.stage-0.get-umls/run
      :jvm-opts ["-Xmx10G"]
    }
    :altLabel {
      :exec-fn knowledge-graph.stage-2.stage-altLabel-rel/run
      :jvm-opts ["-Xmx10G"]
    }
    :stage-0 {:main-opts ["-m" "knowledge-graph.stage-0.launch-stage-0"]}
    :stage-1 {:main-opts ["-m" "knowledge-graph.stage-1.launch-stage-1"]}
    :stage-2 {:main-opts ["-m" "knowledge-graph.stage-2.launch-stage-2"]}
  }
}

